body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(5, 142, 0);
    background: linear-gradient(to left, rgb(0, 142, 36), rgb(8, 190, 223));
  }
  
  #container {
    height: 550px;
    width: 360px;
    margin: 50px auto;
    background: #c6e6e7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  h1 {
    background: rgb(0, 51, 13);
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  

  input {
    padding-left: 20px;
    border-radius: 5px;

  }
  
  #billamt {
    font-size: 14px;
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;

  }
  
  #billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
  }
  
  #peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #serviceQual {
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 70%;
    height: 38px;
    margin-left: auto;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 40px auto;
    background: rgb(0, 107, 32);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #028b0279;
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 2px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }